h1
{
    text-align: center;
}

#startGame
{
    display: block; margin-left: auto; margin-right: auto;
}

#turn
{
    text-align: center;
}

/*#radios
{
    display: block; margin-left: auto; margin-right: auto; text-align: center;
}
*/
#gaming
{
    display: block; margin-left: auto; margin-right: auto; text-align: center;
}

body
{
    background-image: url("img/background.jpg"); background-repeat: no-repeat; background-size: 100%;
}

/* code for button design from w3 schools */
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

h1
{
    color: deepskyblue;
}

p
{
    color: deepskyblue;
}

div
{
    color: deepskyblue;
}

/* code for rainbow text from codepen */
#turn
{
    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 2s infinite;

    /* Standar Syntax */
    animation: rainbow 2s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
    20%{color: red;}
    40%{color: yellow;}
    60%{color: green;}
    80%{color: blue;}
    100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
    20%{color: red;}
    40%{color: yellow;}
    60%{color: green;}
    80%{color: blue;}
    100%{color: orange;}
}
h3
{
    color: red;
}

#roundNumberG
{
    color: deepskyblue;
}